  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    position: absolute;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 65%;
    height: 65%;
    z-index: inherit;
    overflow: hidden;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .headerTitle {
    font-size: 20px;
    font-weight: 600;
  }
  
  .closeButton {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: darkred;
  }
  
  .characterContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;
    height: 90%;
  }

  .from {
    color: #aa550a;
    font-size: 16px;
    font-family: 'Bona Nova SC';
  }