  .residentCard {
    flex: 0 0 auto;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 15px;
    width: 120px;
    margin-top: 10px;
  }

  .residentCard:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
  }
  
  .residentImage {
    height: 120px;
    width: 120px;
  }
  
  .residentName {
    margin: 0 0 10px 0;
  }
  
  .residentSpecies {
    margin: 0;
    color: #7f8c8d;
  }