@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+BE+WAL:wght@100..400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,700);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Ga+Maamli&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Ga+Maamli&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);

body{
  background: #ffece0;
  margin: 0;
  font-family: 'Poppinns', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.card{
  width: 215px;
  height: 350px; /* Remove for full width */
  margin:30px 30px;
  box-shadow: 0 0 100px rgba(0,0,0, .3);
  border-radius: 30px;

}
.card-header{
  height: 320px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.card-body{
  text-align:center;
  padding: 10px;
}

.name{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.job-title{
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  color: #919191;
}

.card-footer{
  left: 0;
  width: 100%;
  bottom: 20px;
}
.stat{
  box-sizing: border-box;
  width: calc(100% / 3);
  float: left;
  text-align: center;
  border-left: 1px solid #EBEBEB;
}
.stat .label{
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  color: #737576;
}

.stat .value{
  display: block;
  font-weight: 700;
  font-size:14px;
  margin-top: 5px;
}

h2 {
	font-family: "Poppins";
	font-size: 36px;

	margin-bottom: 15px;
}

h3 {
	font-size: 24px;
	font-weight: 500;
	color: rgba(34, 34, 34, 0.5);

	margin-bottom: 25px;
	margin-top: 0px;
}

h3,
span,
p {
	font-family: "Avenir";
}

.profile_container,
.info {
	margin: 20px 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 40px;
}

.episode_container{
  margin: 40px 20px;
	max-width: 900px;
  background-color: #fff;
	display: flex;
  padding: 20px;
  border-radius: 40px;
}

.back {
	display: flex;
	align-items: center;
	color: rgba(34, 34, 34, 0.5);
}

.back i {
	margin-right: 15px;
}

.profile_img-LG {
	height: 320px;
	width: 300px;
	border-radius: 40px;
  
	object-fit: cover;
	/* object-position: 50% 50%; */

	/* background-position: 40% 50%; */
}

.flag_wrapper {
	width: 50px;
	height: 50px;
	background-color: #f2f2f2;
	border-radius: 100%;
	position: relative;
	top: -70px;
	left: 230px;
}

.flag {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
}

.description {
	margin-bottom: 30px;
	margin-top: 0px;
}

.profile_img_section {
	margin-right: 50px;
}

.profile_desc_section {
	display: flex;
	flex-direction: column;
  width: 100%;

	/* margin-left: 50px; */
}

.interests_item {
	display: inline-block;
	padding: 5px 15px;
	margin-right: 7.5px;
	margin-bottom: 10px;
	line-height: 35px;
	background-color: #e6e6e6;
	border-radius: 5px;

	color: rgba(34, 34, 34, 0.5);
}

.info {
	margin-top: -20px;
	margin-left: 100px;
}

.link_img_wrapper {
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
	border-radius: 10px;
	position: relative;
}

.link_img {
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto auto;
}

ul {
	padding: 0px;
}

li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}

li p {
	margin-left: 30px;
	color: rgba(34, 34, 34, 0.5);
}



.episode_card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 10px;
  cursor: pointer;
  opacity: 0.7;
  width: 280px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.episode_card h4 {
  margin: 0 0 10px;
  color: #333;
}

.episode_card p {
  margin: 5px 0;
  color: #436c16;
  font-family: 'Bona Nova SC';
  font-size: '0.8rem';
}
.episode_card span {
  margin: 5px 0;
  color: #aa550a;
  font-family: 'Bona Nova SC';
  font-size: '0.8rem';
}

.location_card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 10px;
  opacity: 0.7;
  width: 220px;
  cursor: pointer;
  height: 95px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.location_card h4 {
  margin: 0 0 5px;
  color: #333;
}

.location_card p {
  margin: 5px 0;
  color: #666;
  font-family: 'Bona Nova SC';
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
	.profile_container,
	.info,
	.back {
		margin: 60px 33px 0px;
	}

	.profile_img_section {
		margin: 0 auto;
	}

	.profile_img-LG {
		width: 300px;
		height: 300px;
		border-radius: 100%;
	}

	.flag_wrapper {
	}

	.profile_desc_section {
		margin-left: 0px;
		margin-bottom: 10px;
		margin-top: -40px;
	}

	.info {
		margin-top: 10px;
		margin-left: 33px;
	}
}


.card__img {
visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 215px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
width: 100%;
opacity: 0;
top: 0;
}

.card__img--hover {
transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
position: absolute;
  height: 235px;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;

}
.card {
margin-right: 25px;
transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
background-color: #fee4cb;
  /* width: 33.3%; */
position: relative;
border-radius: 12px;
overflow: hidden;
box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
background-color: #fee4cb;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
margin-top: 10px;
 padding: 24px 16px;
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
color: #868686;
}

.card__title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto Slab', serif;
}

.card__by {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: #AD7D52;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
}

/* Pagination.css */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #e47d1d;
  border: 1px solid #ddd;
  border-radius: 25px;
}

.pagination a:hover {
  background-color: #ffece0;
}

.pagination .active a {
  background-color: #fee4cb;
  color: black;
  border-color: #e47d1d;
}

.pagination .break-me {
  padding: 8px 16px;
}

.pagination .disabled a {
  color: #6c757d;
  cursor:initial;
  pointer-events: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: absolute;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 65%;
  height: 65%;
  z-index: inherit;
  overflow: hidden;
}

button {
  margin-top: 10px;
}

.episode_card:hover, .location_card:hover, .resident_card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.alive {
  color: #0b9622;
  background-color: #E2FFE7;
  padding: 5px 10px;
  font-family: "Roboto";
  border-radius: 5px;
}
.dead {
  color: #EB3B3B;
  background-color: #FFEAEA;
  padding: 5px 10px;
  font-family: "Roboto";
  border-radius: 5px;
}
.unknown {
  color: darkslategray;
  background-color: #dcdbdb;
  padding: 5px 10px;
  font-family: "Roboto";
  border-radius: 5px;
}


